Translato/TranslatoWebsite/Service References/ServiceInsertText/ServiceInsertText1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Text">
    <xs:sequence>
      <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="textId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Text" nillable="true" type="tns:Text" />
</xs:schema>