Translato/TranslatoDevWebsite/Service References/ServiceInsertUser/ServiceInsertUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://translato.cloudapp.net/ServiceInsertUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.MODEL" />
  <xs:import schemaLocation="http://translato.cloudapp.net/ServiceInsertUser.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.SRV" />
  <xs:element name="insertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="privateKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.MODEL" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.SRV" minOccurs="0" name="insertUserResult" nillable="true" type="q2:ServiceInsertUser.ReturnedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>