Translato/TranslatoDevWebsite/Service References/ServiceLoginUser/ServiceLoginUser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://translato.cloudapp.net/ServiceLoginUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.SRV" />
  <xs:element name="loginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="privateKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNameOrEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HRpassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TranslatoServiceLibrary.SRV" minOccurs="0" name="loginUserResult" nillable="true" type="q1:ServiceLoginUser.ReturnedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>